node_modules
dist
dist-ssr
.DS_Store
*.local
.env
.env.local
.env.test.local
.vercel
supabase/.temp
supabase/.branches
dev-dist

# arquivo de build incremental do TypeScript
tsconfig.tsbuildinfo
.DS_Store
